<footer class="container-fluid p-0">
    <div class="bg-dark text-center p-1 text-white">
        <div>
            <a href="" target="_blank"><i
                    class="fab fa-facebook fa-2x m-1 text-white"></i></a>
            <a href="" target="_blank"><i
                    class="fab fa-instagram fa-2x m-1 text-white"></i></a>
            <a href="" target="_blank">
                <i class="fas fa-envelope fa-2x m-1 text-white"></i></a>
            <a href="" target="_blank">
                <i class="fab fa-hackerrank fa-2x m-1 text-white"></i></a>
            <a href="" target="_blank"><i
                    class="fab fa-twitter fa-2x m-1 text-white"></i></a>
            <a href="" target="_blank"><i
                    class="fab fa-linkedin fa-2x m-1 text-white"></i></a>
            <a href="" target="_blank"><i
                    class="fab fa-github fa-2x m-1 text-white"></i></a>
        </div>
        <p>Copyright &#169; 2021 Abhishek Kumar Singh</p>
    </div>
</footer>